/*.nav-side-menu{ background-color: #5b5d5d; position: fixed;top: 0;left:0; width:15%; height: 100%; color: #e1ffff;overflow-y: hidden; background-size:cover;}*/
/*.navbar-nav{margin-top: 30% }*/
/*.navbar-nav a{text-decoration: none; color:black; display: block; padding: 2px; text-transform: capitalize; font-size:15px}*/
/*.navbar-nav a:hover{text-decoration: none; color:black; display: block; padding: 2px; background-color: #8d8f8f}*/
/*.dashboard{ background-color: #c3c5c5}*/

header{position: fixed; width: 100%; height:auto; top:0;transition: 0.2s; z-index: 10000; display: block; background-color:#ffffff; padding-bottom: 10px}
.nav-image{margin:2%; right: 0; left:0;}
.navbar-item{list-style-type: none; display: inline-block; left:0;right: 0;padding:0; margin: 0;background-color:#ffffff; z-index: 10000}
.navbar-item li{display: inline-block;}
.container-header {max-width: 1024px; height: auto; margin: 0 auto;}
.date{ position: absolute; right: 16px; bottom: 0;}
.navbar-item li a{padding:8px 20px; display: inline-block; color:#333; text-decoration: none}
.navbar-item li a:hover{background-color: rgba(220,222,222,0.41); padding: 8px 20px; text-decoration:none;}
.blue-line{background-color: #0f5288; width: 100%; height: 1%; display: inline-block;overflow: hidden;padding-top: 1px; float:none}
 .navbar-button{background-color:rgba(220,222,222,0.41); display: none; margin:2% ;cursor: pointer}
.navbar-content{background-color: #ffffff}
@media (max-width: 1199px) {
    .navbar-button{display: inline-block}
    .navbar-content{display: block; width: 100%;}
    .navabar-item{width: 100%; }
    .navbar-item li a{padding:5px 465px 5px 5px; display: inline-block;}
    .navbar-item li a:hover{padding:5px 465px 5px 5px}
    .white-border-bottom{border-bottom: 1px solid #0f5288!important;}
}
section{padding-top: 5%}
#main-post{border:0; overflow: hidden; height: auto; background-color: rgb(241, 248, 248); padding: 2%; }
#editors-choice{overflow: hidden; border:#0f5288; padding:5%; margin-bottom:10px;background-color: rgb(241, 248, 248);}
#video{overflow: hidden; border: 0;background-color: rgb(241, 248, 248); margin-top: 8px }
#news-video{background-color:rgb(241, 248, 248); overflow: hidden}
.video-small{padding:29px; width:100%; height:auto ;cursor: pointer; transition: ease all 700ms;}
.video-small:hover{transform: scale(1.15,1.15);}
#video-main{padding: 5px;width: 100%; background-color:rgb(241, 248, 248); transition: ease all 700ms}
#video-main:hover{transform: scale(1.02,1.02)}
#college-video{background-color: rgb(241, 248, 248); margin: 8px 0 8px;}
#popular-post{overflow: hidden; border:#0f5288; padding:5%; background-color:rgb(241, 248, 248); margin-bottom: 10px}
.category{font-size: 12px;color: rgba(236,67,50,0.96)!important }
#latest-news{background-color: #eeeeee; margin-top:2%; margin-bottom: 2%; padding-top:8px; padding-bottom: 8px;}
.image{width: 100%; height: auto; transition: ease all 700ms; padding-right: 5px;}
.image:hover{box-shadow:#9fcdff;transform: scale(1.1,1.1); padding-right:5px;}
.img-thumbnail{transition: ease all 700ms;}
.img-thumbnail:hover{box-shadow:#9fcdff;transform: scale(1.1,1.1);}
.image-overflow{overflow: hidden;}
@media (min-width: 401px),(max-width: 1199px) {
    #main{padding-top:11%; margin-top:10%}
    #editors-choice{padding-top: 5%}
    #main-post{padding-top:1%}

}
@media (min-width: 768px),(max-width: 1024px) {
    .video-small{height: 185px; width: auto; }
}
@media (max-width: 400px) {
#main{padding-top:20%; padding-left: 5%; margin-top:15%}
#editors-choice{padding-left: 5%; margin-top:15%}
    .choice h2{font-size: 22px}
    .choice li a h5{font-size: 18px}
}
@media(min-width: 1200px)  {
    #main{padding-top:0!important; margin-top: 8%!important;}
    #video{padding-left: 20px;}
}
.choice ul{list-style-type: none; padding-left: 5%}
.choice ul li a h5{padding:2%; text-align:left; text-decoration: none; color: black; font-size: 16px}
.choice ul li a{text-decoration: none}
.column {color: red!important; text-transform: uppercase; padding-top: 1%; font-size: 23px;}
.posts{padding-top:15px; }
.category{font-style: oblique; color:#0f5288; padding-bottom: 0; text-transform: uppercase}
.blue-border-bottom{border-bottom: 1px solid #0f5288;}
.blue-border-top{ border-top:1px solid #0f5288; }
.white-border-bottom{border-bottom: 1px solid white;}
.container{margin-top: 2px; margin-bottom: 2px;}
.category a {color:rgba(236,67,50,0.96)!important}
#main-category{background-color:rgb(241, 248, 248); overflow: hidden; padding: 10px; margin-bottom: 5px; border: 0}
.category-title{font-size: 45px; text-align: left; font-family: Irvin Heading,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #000; text-decoration: none; text-transform: uppercase; margin-bottom: 5px;line-height: 1}
.category-title:hover{color: black;}
.author{font-size: 16px; font-weight: bold;}
.author a{color: black; text-decoration: none;}
.author a:hover{color: black; text-decoration: none}
.published-date{float: right;}
.posts-title{color: black; text-decoration: none}
.posts-title:hover{color:black; }